body {
    text-align: center;
    align-content: center;
    max-width: 800px;
    font-family: 'Balsamiq Sans', cursive;
    border: 3px solid purple;
    margin: auto;
    /*background-image: url("images/zocaloCDMX.jpg");
    background-repeat: no-repeat;
    background-size: 100%;*/
}

li {
    list-style: none;
}

#content {
    border: 2px solid red;
}

header {
    font-family: 'Luckiest Guy', cursive;
    border: 2px solid green;
}

#instructions {
    border: 5px solid black;
    background-color: whitesmoke;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
    padding-bottom: 2rem;
}

#start {
    font-family: 'Luckiest Guy', cursive;
    font-size: 18px;
    background-color: #006847;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid black;
    letter-spacing: 2px;
}

#exit, #playAgain, #next, #submitAnsr {
    font-family: 'Luckiest Guy', cursive;
    font-size: 16px;
    background-color: #006847;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid black;
    float: right;
    letter-spacing: 2px;
}

#question {
    font-size: 30px;
}

#listOfQuestions {
    font-size: 24px;
    text-align: left;
    border: 2px cyan solid;
    padding-left: 25%
}

#score {
    display: flex;

}

#submitAnsr {
    float: none;
}

#yourAnswer {
    background-color: whitesmoke;
    font-size: 18px;
    font-family: 'Balsamiq Sans', cursive;
    height: 2rem;
    margin-right: 1rem;
}